@import "../variables.scss";
main {
    
    table {
       
        thead {
            tr {
                .table-titles {
                    font-size: 14px;
                    color: $secondary_text_color;
                }
            }


        }

        tbody {
            a{
                color: black;

                span {
                    font-size: 10px;
                    font-weight: lighter;
                }

                &:hover {
                    color: $primary_text_color;
                }
            }
            tr {
                td {
                    .fa-check {
                        font-size: 20px;
                        color: $secondary_text_color;
                    }

                }
                &:hover td {
                    background-color: $table-hover-bg;
                }

            }

            tr:last-of-type {
                border-bottom: transparent;
            }

        }

    }

}