@import "../variables.scss";
header {
    position: sticky;
    top: 0;
    z-index: 1;

    .user {

        .my-button {
            width: 80px;
            height: 50px;
            border-radius: 25px;
            background-color: $primary_background_color;
            transition: background-color 0.5s ease;

            .my-button:hover {
                transition: 1s;
                background-color: red;
            }
        }

        ul {
            overflow-x: auto;
            width: 250px;
            li {
                padding: 8px;
                cursor: pointer;
                text-align: start;

                i{
                    font-size: 24px;
                    color: $primary_background_color;
                }

                span {
                    font-weight: bold;
                    display: none;
                }

                &:hover i {
                    display: none;
                }
        
                &:hover span {
                    display: block;
                }
                        
                button {

                    background-color: transparent;
                    color: darken($primary_text_color, 10%);
                    border: none;
                    overflow: hidden;
                    box-shadow: none;
                    position: relative;
                    
                    &:hover{
                        background-color: $primary_text_color;
                        color: white;
                        transform: rotate(360deg) translate(0px, 0px);
                    }

                    &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 3px solid darken($secondary_text_color, 10%);
                    transition: opacity 0.3s, border 0.3s;
                    }

                    &:hover::before{
                    opacity: 0;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 200px;
                        height: 200px;
                        background-color: lighten($primary_background_color, 10%);
                        border-color: transparent;
                        border-radius: 50%;
                        transform: translate(-10px, -70px) scale(0.1);
                        opacity: 0;
                        z-index: -1;
                        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
                    }

                    &:hover::after{
                        opacity: 1;
                        transform-origin: 100px 100px;
                        transform: scale(1) translate(-10px, -70px);
                    }
                }            
            }
        }
    }

}

main {
    table {
        tbody {
            tr {
                td {
                    .badgetext-bg-silver, 
                    .badgetext-bg-gold,
                    .badgetext-bg-platinum {
                        padding: 8px 6px;
                        border-radius: 12px;
                    }
                    .badgetext-bg-silver {
                        background-color: #A9A9A9;
                    }
                    .badgetext-bg-gold {
                        background-color: #C07F00;
                    }
                    .badgetext-bg-platinum {
                        background-color: #c8c7c7;
                    }
                }
            }
        }
    }
}
