@import "../variables.scss";
main {
    table {
        tbody {
            tr {
                td {
                    .badgetext-bg-silver, 
                    .badgetext-bg-gold,
                    .badgetext-bg-platinum {
                        padding: 8px 6px;
                        border-radius: 12px;
                    }
                    .badgetext-bg-silver i {
                        color: #A9A9A9;
                    }
                    .badgetext-bg-gold i {
                        color: #C07F00;
                    }
                    .badgetext-bg-platinum i{
                        color: #c8c7c7;
                    }
                }
            }
        }
    }
}
