@import "../variables.scss";


#apartments {
    background-color: #FFFFFF; 

    .add_button{
        color: $button_color;
        --bs-btn-hover-bg: $button_color;
        &:hover {color: white;}
    }
    .address_container{
        font-size: 0.8em;
    }

   .button_container{
        a{
            padding: 3px 5px;
            border: none;
            background-color: $button_color;
            border-radius: 3px;

            i{
                color: white;
            }
        }
        button{
            line-height: normal;
            font-size: 1em;
            background-color: none;
            border: none;
            color: #FFFFFF;
            padding: 3px 5px;
            background-color: $button_color;
            border-radius: 3px;
        }
   }
}