@import "../variables.scss";
#apartments-show {
    .my_card_show {

        .img_container{
            
            img {
                width: 100%;
                box-sizing: border-box;
                border-radius: 20px;
                overflow: hidden;
            }

        }
 
        .my_card_show_body{
            margin-left: 20px;
            p {
                color:grey;
                font-size: var(--iw-ehf-f);
            }
        }

        #services {
            

            a {
                width: 100px;
                height: 50px;
                text-decoration: none;
                color: black;

                
            }

        }
        #sponsors{
            
        }
        .button{
            background-color: black;
            color: white;
        }

        .service-item {
            white-space: nowrap; 
        }
        
        .service-item i {
            vertical-align: middle; 
        }
        
        .service-item span {
            word-wrap: break-word; 
        }
        
    }
}