@import "../variables.scss";
#apartments-show {
    .my_card_show {

        .img_container{
            
            img {
                width: 100%;
                box-sizing: border-box;
                border-radius: 10%;
                overflow: hidden;
            }

        }
 
        .my_card_show_body{
            margin-left: 20px;
            p {
                color:grey;
                font-size: var(--iw-ehf-f);
            }
        }

        #services {
            width: 750px;

            a {
                width: 100px;
                height: 50px;
                font-size: 10px;
                text-decoration: none;
                color: black;

                i {
                    font-size: 15px;
                }
            }

        }
        .button{
            background-color: black;
            color: white;
        }
        
    }
}