@import "../variables.scss";
#apartments-show {
    .my_card_show {

        .img_container{
            
            img {
                width: 100%; 
                height: 100%;
                box-sizing: border-box;
            }

        }
 
        .my_card_show_body{
            margin-left: 20px;
            p {
                color: $primary_text_color;
            }
        }

        #services {
            width: 450px;

            a {
                width: 100px;
                height: 50px;
                font-size: 12px;
                text-decoration: none;
                color: black;

                i {
                    font-size: 24px;
                }
            }

        }
        .button{
            background-color: black;
            color: white;
        }
        
    }
}