@import "~bootstrap/scss/bootstrap";
@import "variables";
* {
    font-family: 'Roboto', sans-serif;
}

aside{
    height: 100vh;
    width: 15%;
    background-color: $primary_background_color;
    nav{
        height: 100vh;
        ul{
            list-style: none;
            color: $primary_text_color;
      
            li{
                margin: 15px 0;
                .active {
                    background-color: $secondary_text_color;  // Colore di sfondo per il link attivo
                    color: #ffffff;              // Colore del testo per il link attivo
                    font-weight: bold;           // Opzionale: rende il testo in grassetto
                    padding: 4px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    transition: background-color 0.5s ease 0s;

                    &:hover {
                        background-color: #AAB2FF;
                    }    
                }
                &:hover {
                    color: white;
                }
            }
        }
    }
}
main {
    width: 100%;
    height: 100vh;
    background-color: $main-background-color;
}
