//colore primario background
$main-background-color:#FAFAFA;

$card-bg-color:#FFFFFF;
$card-info-color:#818181;

$primary_background_color:#5357D8;
$secondary_background_color:#87CEFA;
$tertiary_background_color:#AAB2FF;
//colore primario del testo

$primary_text_color: #f688bf;
$secondary_text_color:#FE92C6;
$tertiary_text_color:#FFC4C6;
$fourth_text_color:#FFB3E6;

$button_color: #EA4C89;

$table-hover-bg: #ffbcdce3;

$hover-bg: $table-hover-bg;

$form-check-input-checked-color: $primary_text_color;
