.show_message_container{
    .my-bg{
        background-color: rgb(243, 243, 243);
        border-radius: 10px;
    }
    .text_messages{
        padding-left: 20px;
        min-height: 150px;
        
    }
}