@import '../variables.scss';
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.my-card {
    background-color: $card-bg-color;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.05);
    }

    &.gold:hover h4{
        transition: transform 0.5s;
        transform: scale(1.1);
        background:
        -webkit-linear-gradient(
                -72deg,
                #ffde45,
                #ffffff 6%,
                #ffde45 51%,
                #ffffff 14%,
                #452100 37%,
                #ffde45 56%,
                #ffffff 50%,
                #ffffff 10%,
                #ffde45 12%,
                #ffde45 90%,
                #452100 
            );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }

        &.silver:hover h4{
            transition: transform 0.5s;
            transform: scale(1.1);
            background:
            -webkit-linear-gradient(
                -72deg,
                #dedede,
                #ffffff 6%,
                #838383 51%,
                #ffffff 54%,
                #454545 17%,
                #dedede 96%,
                #ffffff 50%,
                #ffffff 10%,
                #dedede 52%,
                #ffffff 80%,
                #dedede 90%,
                #a1a1a1 
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;    
        }

        &.platinum:hover h4{
            transition: transform 0.5s;
            transform: scale(1.1);
            background:
            -webkit-linear-gradient(
                -72deg,
                #dedeff,
                #ffffff 6%,
                #dedeff 51%,
                #ffffff 54%,
                #555564 17%,
                #dedeff 96%,
                #ffffff 50%,
                #ffffff 10%,
                #dedeff 52%,
                #ffffff 80%,
                #dedeff 90%,
                #555564
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;    
        }

    &:hover::after{
        opacity: 1;
        transform-origin: 100px 100px;
        transform: scale(1) translate(-10px, -70px);
    }
    
}

.container {

    .sponsorship-container {


        .description {
            h1 {
                color: $primary_text_color;
            }
            p {
                font-size: 14px;
                color: #aeaeae;
            }
        }

        .description-info {
            overflow-x: auto;
            white-space: nowrap;

                .my-description-card {
                    border: none;
                    border-radius: 25px;
                    padding: 10px 12px;
                    display: inline-block;
                    vertical-align: top;
                    width: 300px;
                    height: 150px;
                    margin-left: 5px;
                    background-color: $card-bg-color;

                    h6 {
                        color: $fourth_text_color;
                    }

                    p {
                        font-size: 12px;
                        white-space: normal;
                        overflow: hidden;
                        
                    }

            }

            &::-webkit-scrollbar {
                display: none;
            }

        }

               
    }

    .sponsored_apartments_container{
        .card{
            background-color: $card-bg-color;
            transition: all 0.5s;
            overflow: hidden;
            border: none;
            border-radius: 20px;

            .img_container {
                overflow: hidden;
            }

            img{
                // border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;

                transition: transform 0.5s;
            }

            &:hover{
                cursor: pointer;
                background-color: $card-bg-color;
                // box-shadow: 0px 0px 10px 3px #252525;
                transform: scale(1.05);

                img {
                    transition: transform 0.5s;
                    transform: scale(1.1);
                }
            }
            .sponsor-pill{
                color: $button-color;
                padding: 5px;
            }
            .info{
                background-color: $button-color;
            }
            .address_container{
                font-size: 0.8em;
                color: #b9b9b9;
            }

            .button_container {
                a {
                    color:$button-color;
                }
            }
        }

    }
}
